<footer>
        <div class="container">
            <div class="row">

				<div id="col-md-4">
													<%= image_tag "logos/logorjm3.png", class:"list-inline social-buttons"%>
													<p>
														<strong>RJ Muebles para Comercio<br></strong>	

														Oficina: 5889 0042<br>
														Móvil: 55-1570-9426 <strong> /</strong>  55-1570-9421<br>
													</p>
														
														
														
				</div>
                <div class="col-md-4">

                    <span class="copyright">Copyright &copy; RJ Muebles para Comercio 2016</span>
                </div>
				
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Polìtica de Privacidad</a>
                        </li>
                        <li><a href="#">Términos de Uso</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>