<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por contactar a RJ Muebles para Comercio <%= @user.name %></h1>
    <p>
      Hemos recibido tus requerimientos<br>
    </p>
    <p>
      En breve nos contactaremos contigo
    </p>
    <p>Gracias por confiar en nosotros.</p>
  </body>
</html>